.light_theme {
  --background: var(--neutral-200);
  --text-primary: var(--neutral-1100);
  --text-inverted: var(--neutral-200);
  --text-accent: var(--accent-500);
  --layout-bg: var(--neutral-200);
  --layout-borderColor: var(--neutral-300);
}