@use './reset.scss';
@use './tokens/index.scss' as tokens;
@use './themes/index.scss' as themes;
@use "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 360px;
  background: var(--background);
}

.main {
  background: var(--background);
  flex: 1 0 0;
}