@use 'theme/light';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.button_filled {
  border-radius: 16px;
  min-height: 32px;
  padding: 2px 10px;
}

.button_outline {
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid;
  padding: 2px 10px;
}


.button_ghost {
  background-color: transparent;
}

.button_filled.button_primary {
  background: var(--button-filled-primary-bg);
  color: var(--button-filled-primary-color);
}

.button_filled.button_neutral {
  background: var(--button-filled-neutral-bg);
  color: var(--button-filled-neutral-color);
}

.button_outline.button_primary {
  border-color: var(--button-outline-primary-borderColor);
  color: var(--button-outline-primary-borderColor);
}

.button_outline.button_neutral {
  border-color: var(--button-outline-neutral-borderColor);
  color: var(--button-outline-neutral-color);
}

.button_ghost.button_primary {
  color: var(--button-ghost-primary-color);
}

.button_ghost.button_neutral {
  color: var(--button-ghost-neutral-color);
}