@use 'theme/light';

.link {
  text-decoration: none;
}

.link_filled {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  min-height: 32px;
  padding: 2px 10px;
}

.link_outline {
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid;
  padding: 2px 10px;
}


.link_ghost {
  background-color: transparent;
}

.link_filled.link_primary {
  background: var(--link-filled-primary-bg);
  color: var(--link-filled-primary-color);
}

.link_filled.link_neutral {
  background: var(--link-filled-neutral-bg);
  color: var(--link-filled-neutral-color);
}

.link_outline.link_primary {
  border-color: var(--link-outline-primary-borderColor);
  color: var(--link-outline-primary-borderColor);
}

.link_outline.link_neutral {
  border-color: var(--link-outline-neutral-borderColor);
  color: var(--link-outline-neutral-color);
}

.link_ghost.link_primary {
  color: var(--link-ghost-primary-color);
}

.link_ghost.link_neutral {
  color: var(--link-ghost-neutral-color);
}