.header {
	min-height: 48px;
	display: flex;
	padding: var(--space-2) var(--space-5);
	align-items: center;
	position: sticky;
	top: 0;
	flex-wrap: nowrap;
	background: var(--layout-bg);
	border-bottom: 1px solid var(--layout-borderColor);
	z-index: 10;
}

.logo {
	display: block;
	margin-right: var(--space-4);
}


.navigation {
	display: none;
}

.navigation_open {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 48px;
	height: calc(100dvh - 48px);
	left: 0;
	right: 0;
	padding: 24px;
	background: var(--layout-bg);

}

@media (min-width: 1024px) {
	.navigation {
		display: flex;
	}

	.navigation_open {
		position: static;
		flex-direction: row;
		height: auto;
		padding: 0;
	}
}




.actions {
	display: flex;
	margin-left: auto;
	gap: var(--space-1)
}

.button_burger {
	position: relative;
	width: 20px;
	height: 2px;
	background-color: var(--neutral-1100);
	margin-left: var(--space-1);

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background-color: var(--neutral-1100);
	}

	&::before {
		top: -6px;
	}

	&::after {
		bottom: -6px;
	}
}